.uploadImage {
    padding: 2%;
}

input[type="file"] {
    padding: 10px;
}

.submitButton {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    margin: 10px;
}

.result {
    display: flex;
    flex-wrap: wrap;
}

.result > div {
    margin: 10px;
    padding: 10px;
}

.response {
    align-self: center;
    background-color: aliceblue;
    border: 1px solid black;
    color: black;
    margin-top: 10%;
}